VITE_BOTCHAIN_RPC_URL=https://rpc.bohr.life
VITE_BOTCHAIN_CHAIN_ID=968
VITE_VEIL_CONTRACT_ADDRESS=0xc89fB278716B1B09869e3A466b964578F76b07E8
VITE_BOTCHAIN_EXPLORER_URL=https://scan.bohr.life
REVISION=local
